{% extends "_layout.html" %}
{% block title %}Edit event{% endblock %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Identification Number</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for y in camerausers %}
            <tr>
                <td>{{ y.userID }}</td>
                <td>{{ y.userName }}</td>
                <td>{{ y.roleID }}</td>
                <td><a href="/loan?userID={{ y.userID }}">Choose</a></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
